<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Data</title>
</head>
<body>
    <table>
        <tr>
            <th>Emp id</th>
            <th>Emp Image</th>
            <th>Emp file</th>

            </tr>
            {% for obj in data %}

            <tr>
                <td>
                    {{obj.empid}}
                </td>
                <td>
                    <a href="{{obj.image.url}}" download>{{obj.image}}</a>

                </td>
                <td>
                    <a href="{{obj.document.url}}" download>{{obj.document}}</a>

                </td>
                </tr>

            {% endfor %}

        </table>

</body>
</html>